[Unit]
Description=AI Wallpaper
After=NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service

[Service]
Type=oneshot
ExecStart=ai-wallpaper
Environment=OPENAI_API_KEY=???
WorkingDirectory=???

[Install]
WantedBy=default.target
